body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
  }
  textarea {
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    border-left: 1px solid black;
    padding: 10px;
  }
  
  header {
    text-align: center;
    background-color: transparent;
    color: black;
    border-radius: 0;
    border-bottom: 10px solid black;
    padding: 60px;
  }
  
  .description {
    white-space: pre-wrap;
  }
  
  .time-block {
    text-align: center;
    border-radius: 15px;
  }
  
  .row {
    white-space: pre-wrap;
    height: 80px;
    border-top: 1px solid white;
  }
  
  .hour {
    background-color: #ffffff;
    color: #000000;
    border-top: 1px dashed #000000;
  }
  
  .past {
    background-color: #d3d3d3;
    color: white;
  }
  
  .present {
    background-color: #ff6961;
    color: white;
  }
  
  .future {
    background-color: #77dd77;
    color: white;
  }
  
  #saveBtn{
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #06aed5;
    color: white;
  }
  
  #saveBtn i:hover {
    font-size: 20px;
    transition: all 0.3s ease-in-out;
  }
#saveBtn2{
  background-color: #06aed5;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}  
#saveBtn3{
  background-color: #06aed5;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
#saveBtn4{
  background-color: #06aed5;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
#saveBtn5{
  background-color: #06aed5;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
#saveBtn6{
  background-color: #06aed5;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
#saveBtn7{
  background-color: #06aed5;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
#saveBtn8{
  background-color: #06aed5;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
#saveBtn9{
  background-color: #06aed5;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.containerGrid{
    display: grid;
    max-width:1000px;
    height: 50px;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 100%;
    grid-template-areas:" item1 item2 item3";
    /* background-color: antiquewhite; */
    position:static;
    justify-content:center;
    margin-left: 250px;
}
.item1{
    grid-area: item1;
    
    /* border-radius: 10px; */
    background-color: white;
    border-top: dotted 2px;
    

}

.item2{
    grid-area: item2;
    
    /* border-radius: 10px; */
    background-color: #77dd77;
    border-left: solid 2px;
    border-right: solid 2px;
}
.item3{
    grid-area: item3;
    
    /* border-radius: 10px; */
    /* background-color: #06aed5; */
}

#eventSaved{
  margin-left: 600px;
}


























